<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My index page</h1>
    <h3>Create a User</h3>

    {{session['name']}}
    <form action='/users' method='post'>
        <div>
            <label for='name'>Name:</label>
            <input type='text' name='name' id = "name">
        </div>
        <div>
            <label for='card_num'>Card Number:</label>
            <input type='text' name='card_num' id = 'card_num'>
        </div>
        <button>Submit</button>
</form>


    </h3>
</body>
</html>