<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D</title>
</head>
<body>
    <div class="wrapper">
        <div>
            <h1>D&D Character Info</h1>
        </div>

        <div>
            <p>Name: {{session['data']['name']}} </p>
            <p>Class: {{session['data']['classes']}} </p>
            <p>Weapon: {{session['data']['weapons']}} </p>
            <p>Backstory: {{session['data']['backstory']}} </p>
        </div>

        <div>
            <a href="/character/reset" class="btn">Reset</a>
        </div>

    </div>
</body>
</html>