<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create New Car</h1>
    <div>
        <form action="/car/create" method="post">
            <div>
                <label for="make">make</label>
                <input type="text" name="make" id="make">
            </div>
                <label for="model">model</label>
                <input type="text" name="model" id="model">
            </div>
                <label for="year">year</label>
                <select name="year" id="year">
                    {% for year in range(50) %}
                        <option value="{{2023 - year}}">{{2023-year}}</option>
                    {% endfor %}
                </select>
                
            </div>
            <div>
                <label for="dealer">Dealer</label>
                <select name="dealer_id" id="dealer_id">
                    {% for dealer in all_dealers %}
                        <option value="{{dealer.id}}">{{dealer.name}}</option>
                        
                    {% endfor %}

                </select>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>