<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn {
            margin: 0.15em, 0;
            padding: 0 0.5em;
            border: 0.15em solid black;
            border-radius: 0.5em;
        }
    </style>
</head>
<body>
    <h1>My Index</h1>
        {{session}}
    <div>
        <!-- if dealer is not a thing / they're not logged in -->
        {% if not dealer  %}
            <!-- button to login -->
            <a class='btn' href="/login">Login</a>
            {% else %}
            <p>{{dealer.name}} is logged in </p>
            <a class='btn' href="/logout">Logout</a>
        {% endif %}
    </div>
    <a class="btn" href="/dealer/new" > Add New Dealer</a>
    <br>
    <a class="btn" href="/car/new" > Add New Car</a>

    <div>
        <p>All Dealers</p>
        {% for dealer in all_dealers %}
            <div>
                <span><a href="/dealer/{{dealer.id}}">{{dealer.name}}</a></span>
                <p>{{ dealer.name }} || {{ dealer.location }}</p>
                <a href="/dealer/{{dealer.id}}/delete">Delete</a>
            </div>
        {% endfor %}
    </div>

    <div>
        <p>All Cars</p>
        <table>
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                {% for car in all_cars %}
                <tr>
                    <td>{{ car.make }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.year }}</td>
                </tr>
                 {% endfor %}

            </tbody>
        </table>
        
    </div>
</body>
</html>